# Rails secret key
# ----------------
SECRET_KEY_BASE=__SECRET_KEY_BASE__

# Redis
# -----
REDIS_URL=redis://localhost:6379/__REDIS_DB__

# PostgreSQL
# ----------
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=__DB_USER__
DATABASE_NAME=__DB_NAME__
DATABASE_PASSWORD=__DB_PWD__

# Features
# --------
MULTIUSER=enabled
FEDERATION=__FEDERATION__
HTTPS_ONLY=true

# Email
# -----
SMTP_SERVER=localhost
SMTP_PORT=25
SMTP_USERNAME=__APP__
SMTP_PASSWORD=__MAIL_PWD__
SMTP_FROM_ADDRESS=__APP__@__DOMAIN__
PUBLIC_HOSTNAME=__DOMAIN__
